@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    height: 100vh;
    margin: 0;
}

html,
body {
    height: 100vh;
    margin: 0;
}

#renderer {
    border-radius: 1rem;
    /*
       Required for border-radius to take effect.
       See: https://stackoverflow.com/a/15090794
    */
    overflow: hidden;
}

#div-editor-root {
    border-radius: 1rem;
    margin: 0.5rem;
}

#status-panel {
    height: 2rem;
}

.user-action {
    margin-left: 1rem;
    font-size: 1rem;
}

.user-action > .ph {
    position: relative;
    top: 0.25rem;
    font-size: 1.5rem;
}

@keyframes fade-out {
    0% {
        opacity: 100%;
        filter: blur(0px);
    }

    25% {
        opacity: 100%;
        filter: blur(2px);
    }

    100% {
        opacity: 0%;
        filter: blur(16px);
    }
}

.fade-out {
    animation-duration: 1s;
    animation-name: fade-out;
    animation-delay: 2s;
    animation-timing-function: ease-out;
}

@keyframes jump {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1.25, 1.25);
    }

    100% {
        transform: scale(0.5, 0.5);
    }
}

.jump {
    animation-duration: 1s;
    animation-name: jump;
    animation-delay: 2s;
    animation-timing-function: ease-out;
}

@media (prefers-color-scheme: dark) {
    .loader-gradient {
        background: radial-gradient(
            circle,
            rgba(0, 0, 0, 1) 10%,
            rgba(0, 0, 0, 0.65) 30%,
            rgba(0, 0, 0, 0.8) 35%,
            rgba(0, 0, 0, 0.9) 50%,
            rgba(0, 0, 0, 1) 80%
        );
    }
}

@media (prefers-color-scheme: light) {
    .loader-gradient {
        background: radial-gradient(
            circle,
            rgba(255, 255, 255, 1) 10%,
            rgba(255, 255, 255, 0.65) 30%,
            rgba(255, 255, 255, 0.8) 35%,
            rgba(255, 255, 255, 0.9) 50%,
            rgba(255, 255, 255, 1) 80%
        );
    }
}

.loading-image {
}

.svg-invert {
    filter: invert(100%);
}
