@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(190, 190, 190, 1) 100%
    );
}

#root {
    height: 100vh;
    margin: 0;
}

/* Center all children of the header bar. */
header > header-inline-start {
    margin-top: auto;
    margin-bottom: auto;
}

header > #header-inline-start > * {
    margin-top: auto;
    margin-bottom: auto;
}

header > #header-inline-start > #div-title > #label-title {
    font-weight: 700;
    font-size: 1.25rem;
}

header > #header-inline-start > #div-title > #label-subtitle {
    font-size: 0.75rem;
}

header > #header-inline-end > * {
    margin-top: auto;
    margin-bottom: auto;
}

header > #header-inline-end > a {
    margin-right: 16pt;
}

#renderer {
    border-radius: 1rem;
    /*
       Required for border-radius to take effect.
       See: https://stackoverflow.com/a/15090794
    */
    overflow: hidden;
    margin: 0.5rem;
    display: flex;
    flex-grow: 1;
}

#div-editor-root {
    border-radius: 1rem;
    margin: 0.5rem;
}

#status-panel {
    height: 2rem;
}

.user-action {
    margin-left: 1rem;
    font-size: 1rem;
}

.user-action > .ph {
    position: relative;
    top: 0.25rem;
    font-size: 1.5rem;
}

#div-loading-indicator {
    background: white;
}

@keyframes fade-out {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}

.fade-out {
    animation-duration: 1s;
    animation-name: fade-out;
    animation-delay: 2s;
    animation-timing-function: ease-out;
}

canvas {
    display: flex;
    flex-grow: 1;
}
